@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
    color: #333;
    background: #f7f7f7;
    font-size: 1em;
    font-family: "Segoe UI", sans-serif;
    line-height: 135%;
    display: flex;
    flex-direction: column;

}

a {
    color: #ff1826;
    text-decoration: none;
    transition: all .6s ease;
    -moz-transition: all .6s ease;
    -webkit-transition: all .6s ease;
}

a:hover {
    color: #77ffa4;
    text-decoration: none;
    transition: all .6s ease;
}

header {
    border-bottom: 2px solid silver;
    padding: 1%;
    background-color: #98b7ff;
}

footer {
    border-top: 2px solid silver;
    margin-top: auto;
    padding: 1% 1% 3%;
    background-color: #98b7ff;
}

.left {
    float: left;
}

.right {
    float: right;
}

.logo {
    font-size: 1.5em;
    font-family: "Comic Sans MS", sans-serif;
    color: #ff1826;
}

.head {
    color: silver;
    font-size: 1.2em;
    font-family: "Comic Sans MS", sans-serif;
    margin-left: 10px;
    margin-right: 10px;
}
